.header {
  width: 100%;
  background: #373334;
  color: #CACACA;
}

.format {
  width: 80px;
  padding: 10px;
  text-align: center;
  font-size: 14px;
}

.iconText {
  margin-top: 6px;
}

.line {
  width: 100%;
  height: 2px;
  background: #7A51B9;
}
